# Compiled class file
*.class
*.jar

.gradle/
.idea/
.settings/
build/
out/
bin/


# Ignore the eclipse configuration files
.classpath
.project
.settings/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/